# For e2e tests: set GMAIL_ACCESS_TOKEN to run tests against real Gmail API
# Get token from Google OAuth 2.0 flow (https://developers.google.com/identity/protocols/oauth2)
# GMAIL_ACCESS_TOKEN=ya29.xxx


